/* Profile Avatar Edit */
/* ////////////////////////////////////////////////////// */

$width-base: 400px;

.form {
  &Content {
    border-radius: 35px;
    box-shadow: 0 5px 40px rgb(0 0 0 / 40%);

    display: flex;
    margin: auto;

    background-color: var(--color-background-modal);
  }

  &Inner {
    flex-grow: 1;

    width: $width-base;
    height: 100%;
  }
}

.paHeader {
  position: relative;
  display: flex;
  width: 100%;
  height: 56px;
  padding: 10px;
  align-items: center;
  justify-content: center;

  &Title {
    position: absolute;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-text-invert);
  }

  &Close {
    cursor: pointer;
    position: absolute;
    right: 0;
    padding-right: 15px;
  }
}

.paPreview {
  position: relative;
  max-height: $width-base;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &Info {
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-text-invert);
  }

  &Input {
    position: absolute;

    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }

  &Img {
    height: $width-base;
    width: $width-base;

    object-fit: cover;
    object-position: cover;
  }
}

.paInfo {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &Item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4px 0;

    :first-child {
      flex-basis: 50%;
      font-weight: 500;
      font-size: 0.9rem;
      color: var(--color-text-invert);
    }

    :last-child {
      color: var(--color-sub-text-invert);
      font-size: 1rem;
      flex-basis: 50%;
      margin-left: 24px;
    }
  }

  &Trigger {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

.paSubmit {
  border-radius: 25px;
  user-select: none;
  display: flex;
  flex-direction: column;

  padding: 16px;
  gap: 15px;

  &Upload {
    width: 100%;
    height: 40px;
    border-radius: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-submit-bg-lock);
    font-weight: 500;
    font-size: 1rem;

    &Active {
      cursor: pointer;
      background-color: var(--color-submit-bg);
    }

    &Active:hover {
      background-color: var(--color-submit-bg-hover);
    }
    transition: all 0.2s ease-in;
  }

  &Close {
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-submit-bg-close);
    color: var(--color-sub-text-invert);
    font-weight: 500;
    font-size: 1rem;

    &:hover {
      background-color: var(--color-background-modal-content);
      color: var(--color-sub-text);
    }
    transition: all 0.2s ease-in;
  }
}

/* ////////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {
  .paForm {
    width: 100%;
    max-width: 400px;
  }
}
