.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 56px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &Title {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-text-invert);
  }

  hr {
    width: 70%;
    margin: 0;
  }
}

.list {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
}

.content {
  padding-bottom: 20px;
}

.item {
  cursor: pointer;
  color: var(--color-text-invert);

  font-size: 1.25rem;

  &:hover {
    transform: scale(1.05);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .itemInner {
      border: 1px solid var(--color-highlight);
      box-shadow: 0 0 2px var(--color-highlight);
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .itemBack {
      opacity: 0;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  transition: all 0.2s ease-in-out;

  &Inner {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    overflow: hidden;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-border);
    transition: all 0.2s ease-in-out;
  }

  &Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &Title {
    position: absolute;
    bottom: 5px;

    text-align: center;
    z-index: 15;
  }

  &Back {
    background: linear-gradient(
      180deg,
      transparent,
      transparent,
      rgba(20, 20, 20, 0.05) 0,
      var(--color-background-modal)
    );
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all 0.2s ease-in-out;
  }
}
