NODE_ENV=development

PORT=8081
DOMAIN=localhost
SERVER_HOST=http://localhost
CLIENT_HOST=http://localhost:3000
END_POINT=graphql

# Database
DATABASE_MAIN=main
DATABASE_TYPE=mariadb

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_DB=surfgxds

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=root

# Amqp
AMQP_URI=amqp://guest:guest@62.113.115.251:5672

# Console
PRIMARY_COLOR=#87e8de
RATE_LIMIT_MAX=1000
GRAPHQL_DEPTH_LIMIT=5

# Jwt
JWT_SECRET=SECRET
JWT_REFRESH_SECRET=refresh-token-key
BCRYPT_SALT=10

# Steam
STEAM_API_KEY=

# CSGO Config 
GAME_APPID=730;
MIN_GAME_HOURS=500;
