.isLoading {
  @include placeholder;
  border: 1px solid var(--color-background-highlight);
  border-radius: 5px;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-trick-name);
  gap: 5px;

  cursor: pointer;

  overflow: hidden;

  &Img {
    position: relative;
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    overflow: hidden;

    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    max-width: 20px;

    @include tablet {
      min-height: 18px;
      min-width: 18px;
      max-height: 18px;
      max-width: 18px;
    }

    @include mobile {
      min-height: 12px;
      min-width: 12px;
      max-height: 12px;
      max-width: 12px;
    }

    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  }

  &Nick {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
