.cFriends {
  position: relative;

  width: 100%;
  height: 100%;

  // background-image: url(../../public/Triangles.svg);
  background-size: 100% 100%;
  background-size: cover;

  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.item {
  position: relative;

  // margin: 5px 10px;

  cursor: pointer;
  padding: 5px 20px;

  display: flex;
  flex-direction: row;

  &Friend {
    box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
    background-color: var(--color-background-content);
    width: 100%;

    border-radius: 5px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    gap: 10px;

    padding-right: 5px;

    &:hover {
      background-color: var(--color-background-highlight);

      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover {
    .options {
      opacity: 1;
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  @include desktop {
    width: 25%;
  }

  @include tablet {
    width: 33%;
  }

  @include mobile {
    width: 100%;
  }
}

.search {
  width: 100%;
  margin: 10px 2px;
  padding: 0 5px;
}

.list {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.info {
  max-width: 115px;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0;

  &Name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  &Online {
    font-size: 0.8rem;
  }
}

.options {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 4px 0;

  height: 100%;

  svg {
    min-width: 18px;
    min-height: 18px;

    fill: var(--color-text);
  }
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
